.pagination > li > a {
  font-weight: 700;
  background-color: transparent;
  color: #232323;
  border: solid 3px rgba(35, 35, 35, 0.1);
  margin: 10px 10px 0 0;
  padding: 7px 15px 7px 15px;
  border-radius: 0;
}
